<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :stock, :input_html => {:maxlength =>50, :style=> 'width: 100px'} %>
    <%= f.input :price, :input_html => {:maxlength =>50, :style=> 'width: 100px', :precision => 8, :scale => 2}  %>
    <%= f.input :status %>
    <%= f.association :user, label_method: :name, value_method: :id, :input_html => {:maxlength =>50, :style=> 'width: 200px'} %>
    <%= f.association :local, label_method: :description, value_method: :id, :input_html => {:maxlength =>50, :style=> 'width: 230px'} %>
    <%= f.association :week, label_method: :name, value_method: :id, :input_html => {:maxlength =>50, :style=> 'width: 180px'} %>
     <label>Fecha del menu</label><br />
    <%= f.date_field :date_menu, :input_html => {:maxlength =>50, :style=> 'width: 100px'} %>
    <%= f.association :dish, label_method: :description, value_method: :id, :input_html => {:maxlength =>50, :style=> 'width: 220px'} %>
  </div>
  
   
 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
