<h1>Lista de menu</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha Menu</th>
      <th>Stock</th>
      <th>Precio</th>
      <th>Usuario</th>
      <th>Local</th>
      <th>Semana</th>
      <th>Plato</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.date_menu.strftime("%d/%m/%Y") %></td>
        <td><%= menu.stock %></td>
        <td><%= menu.price.to_f %></td>
        <td><%= menu.user.name %></td>
        <td><%= menu.local.description %></td>
        <td><%= menu.week.name %></td>
        <td><%= menu.dish.description %></td>
        <td><%= menu.status %></td>
        <td><%= link_to 'Ver', menu %></td>
        <td><%= link_to 'Editar', edit_menu_path(menu) %></td>
        <td><%= link_to 'Eliminar', menu, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Menu', new_menu_path %>
