<p id="notice"><%= notice %></p>

<p>
  <strong>Date menu:</strong>
  <%= @menu.date_menu %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @menu.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Date register:</strong>
  <%= @menu.date_register %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @menu.order_status %>
</p>

<p>
  <strong>Local:</strong>
  <%= @menu.local %>
</p>

<p>
  <strong>Week:</strong>
  <%= @menu.week %>
</p>

<p>
  <strong>Dishes:</strong>
  <%= @menu.dishes %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
