<%= form_for(@dish) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :dishes_type_id %><br>
    <%= f.text_field :dishes_type_id %>
    
  </div>
  <div class="field">
    <%= f.label :local_id %><br>
    <%= f.text_field :local_id %>
  </div>
  <div class="field">
    <%= f.label :order_status_id %><br>
    <%= f.text_field :order_status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
