<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Dishes type:</strong>
  <%= @dish.dishes_type %>
</p>

<p>
  <strong>Local:</strong>
  <%= @dish.local %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @dish.order_status %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
