<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @week.name %>
</p>

<p>
  <strong>Date inic:</strong>
  <%= @week.date_inic %>
</p>

<p>
  <strong>Date fina:</strong>
  <%= @week.date_fina %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @week.order_status %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
