<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<% if user_signed_in? %>
<p>Sesion Iniciada</p>
    <p> <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %></p>
<% else %>
    <p> 
        <%= link_to 'Iniciar Sesion', new_user_session_path %>
        <%= 'o' %>
        <%= link_to 'Registrarse', new_user_registration_path %>
    </p>    
<% end %>


<% if current_user %>
    <p>Por <%= current_user.email %></p>
    <p><%= link_to 'Actualizar datos', edit_user_registration_path %></p>
<% end %>