<h1>Listado de tipos de plato</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes_types.each do |dishes_type| %>
      <tr>
        <td><%= dishes_type.description %></td>
        <td><%= link_to 'Ver', dishes_type %></td>
        <td><%= link_to 'Editar', edit_dishes_type_path(dishes_type) %></td>
        <td><%= link_to 'Eliminar', dishes_type, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nuevo', new_dishes_type_path %>
