<h1>Listing dishes_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes_types.each do |dishes_type| %>
      <tr>
        <td><%= dishes_type.description %></td>
        <td><%= link_to 'Show', dishes_type %></td>
        <td><%= link_to 'Edit', edit_dishes_type_path(dishes_type) %></td>
        <td><%= link_to 'Destroy', dishes_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dishes type', new_dishes_type_path %>
