<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dishes_type.description %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @dishes_type.order_status %>
</p>

<%= link_to 'Edit', edit_dishes_type_path(@dishes_type) %> |
<%= link_to 'Back', dishes_types_path %>
