<%= form_for(@order_header) do |f| %>
  <% if @order_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_header.errors.count, "error") %> prohibited this order_header from being saved:</h2>

      <ul>
      <% @order_header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_order %><br>
    <%= f.date_select :date_order %>
  </div>
  <div class="field">
    <%= f.label :date_update %><br>
    <%= f.date_select :date_update %>
  </div>
  <div class="field">
    <%= f.label :date_canceled %><br>
    <%= f.date_select :date_canceled %>
  </div>
  <div class="field">
    <%= f.label :observations %><br>
    <%= f.text_field :observations %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :datos_customer %><br>
    <%= f.text_field :datos_customer %>
  </div>
  <div class="field">
    <%= f.label :address_customer %><br>
    <%= f.text_field :address_customer %>
  </div>
  <div class="field">
    <%= f.label :phone_customer %><br>
    <%= f.text_field :phone_customer %>
  </div>
  <div class="field">
    <%= f.label :menus_id %><br>
    <%= f.text_field :menus_id %>
  </div>
  <div class="field">
    <%= f.label :order_status_id %><br>
    <%= f.text_field :order_status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
